* {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  margin: 4px;
}

.menu ul {
  display: flex;
  line-height: 70px;
  align-items: center;
}

.menu ul li {
  padding: 0px 23px;
  list-style: none;

  cursor: pointer;
}

.card {
  display: flex;
  flex-wrap: wrap;

}

.rest {
  width: 200px;
  padding: 5px 5px;
  border: 1px solid;
  margin: 3px;
}